body {
    background-color:#282c34;
}

.game-tile {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid rgb(255, 3, 3);
    border-style: solid;    
    box-sizing: border-box !important;
    font-size: 0;
    width: 50px;
    height: 50px;
}

#game-map{
    position: relative;
    margin: auto;
    background-color: #242729;
    border: 2px solid white;
}

.game-tile:hover{
    background-color: blue;
}

.towers {
    position: relative;
    height: 0px;
    width: 0px;
    top: 25%;
    left: 25%;
    border-top: 15px solid transparent;
	border-left: 27.5px solid white;
	border-bottom: 15px solid transparent;
}

.shots{
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #555;
    border-radius: 50%;
    border-style: solid;
    border-width: thin;
    border-color: red;
}