button {
    font-family: 'Arial black';
    color: #fff;
    border: 3px solid #fff;
    text-transform: uppercase;
}

button:disabled{
    cursor: not-allowed;
}

#buyButton,#startButton, #backToTowerCreation,#upgradeButton{
    width: 150px;
}

#upPowerButton,#downPowerButton,#upSpeedButton,#downSpeedButton{
    width: 30px;
    color: black;
    border: 1px solid #fff;
}

#upPowerButton:hover, #downPowerButton:hover, #upSpeedButton:hover, #downSpeedButton:hover {
    background-color: lightgrey;
}

#buyButton:hover,#upgradeButton:hover,#unlockButton:hover, #startButton:hover, #buyButton:hover, #backToTowerCreation:hover{
    background-color: green;
}

#sellButton, #upgradeButton, #unlockButton,#cancelButton,#startButton, #backToTowerCreation{
    height: 50px;
}

#sellButton{
    background-color: darkgoldenrod;
    max-width: 120px;
}

#sellButton:hover{
    background-color: rgb(255, 123, 0);
}

#unlockButton{
    max-width: 140px;
}

#startButton, #backToTowerCreation{
    width: 100px;
}
#cancelButton{
    width: 145px;
    margin: 0 0 0 10px;
}

#cancelButton:disabled, #unlockButton:disabled,#upgradeButton:disabled{
    background-color: dimgrey;
}

#startButton:disabled, #cancelButton{
    background-color: rgb(255, 30, 0);
}

#buyButton{
    height: 75%;
    width: 130px;
}

#buyButton,#startButton, #backToTowerCreation,#unlockButton,#upgradeButton{
    background-color: darkgreen;
}

.lockedButton{
    background-color: dimgrey;
}