.enemies, .bonus-enemy {
    font-size: 9px;
    position: absolute;
    width: 40px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%,
    11% 19%,
    1% 61%,
    28% 95%,
    72% 95%,
    99% 61%,
    89% 19%);
}

.enemies {
    background-image: radial-gradient(closest-side, #000000, #000000, #fa0000);
}

.bonus-enemy {
    background-image: radial-gradient(closest-side, #000000, #000000, #00fa00);
}