.enemies {
    font-size: 10px;
    position: absolute;
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(50% 0%,
    11% 19%,
    1% 61%,
    28% 95%,
    72% 95%,
    99% 61%,
    89% 19%);
    background-image: radial-gradient(closest-side, #000000, #000000, #fa0000);
}