:root {
    --headerHeight: 35px;
    --footerHeight: 125px;
}

body {
    text-transform: uppercase;
    font-family: 'Arial black';
    background-color: rgba(40, 44, 52);
    cursor: default;
    overflow: hidden;
}