#mainMenu {
    position: absolute;
    top:  20%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    left: 50%;
}

#helpContainer {
    position: absolute;
    top: 65%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    left: 50%;
    display: flex;
    flex-direction: column;
    border: solid;
    width: 700px;
    align-items: center;
    padding: 0px 10px 0px 10px;
    color: #ffffff;
}

b{
    color: #ff0000;
}

j{
    color: #00ff00;
}

li{
    margin: 0 0 25px 0;
    line-height: 1.6;
    list-style-type: none;
}

#helpTitle{
    margin: -30px 0 0 10px;
    background-color: rgb(40 44 52);
    padding: 0px 10px 0px 10px;
    color: white;
}

#finalRound{
    margin-bottom: 10px
}

#hiScore{
    margin-bottom: 35px;
    animation: blink-animation 1s steps(2, start) infinite;
    color: yellow;
    visibility: hidden;
}
@keyframes blink-animation {
    to {
      color: red;
    }
}

#helpTitleEnemies{
display: flex;
border-top: solid;
width: 100%;
flex-direction: column;
align-items: center;
}

#enemiesTitle{
    margin: -13px 0 0 10px;
    background-color: rgb(40 44 52);
    padding: 0px 10px 0px 10px;
    color: white;
}

#helpTextContainer{
    width: 100%;
    font-size: small;
}

#title {
    font-size: 60px;
    text-shadow: 0px 5px #C0C0C0;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

#mainMenu > div{
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

#menuOptions:hover{
    color: white;
}

#menuOptions:active {
    color: red;
}

#gameOverContainer{
    pointer-events: none;
    position: absolute;
    top: 45%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
    left: 50%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameOverTitle{
    font-size: 70px;
    text-align: center;
    text-shadow: 0px 5px #C0C0C0;
    margin-bottom: 10px;
}

#gameOverMenuOptions{
    display: flex;
    width: 100%;
    justify-content: space-around;
}